<div id="<%= dom_id trainer %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= trainer.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= trainer.phone %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= trainer.email %>
  </p>

</div>
